{% extends 'base.html' %}

{% block content %}

<!-- CART HEADER -->

<section class="cart-header">

    <h1>Your Shopping Cart</h1>

    <p>
        Review your selected products before checkout.
    </p>

</section>

<!-- CART SECTION -->

<section class="cart-page">

    <!-- CART PRODUCTS -->

    <div class="cart-container">

        {% if cart_items %}

        {% for product in cart_items %}

        <div class="cart-item">

            <img
                    src="{{ url_for('static', filename='images/' + product.image) }}"
                    alt=""
            >

            <div class="cart-info">

                <h3>{{ product.name }}</h3>

                <p>${{ product.price }}</p>

                <p>
                    Subtotal: ${{ product.subtotal }}
                </p>

            </div>

            <!-- QUANTITY -->

            <div class="cart-quantity">

                <button onclick="decreaseQuantity({{ product.id }})">
                    -
                </button>

                <span>
                    {{ product.quantity }}
                </span>

                <button onclick="increaseQuantity({{ product.id }})">
                    +
                </button>

            </div>

            <!-- REMOVE -->

            <button
                    class="remove-btn"
                    onclick="removeFromCart({{ product.id }})"
            >
                Remove
            </button>

        </div>

        {% endfor %}

        {% else %}

        <h2 class="empty-cart">
            Your Cart is Empty
        </h2>

        {% endif %}

    </div>

    <!-- SUMMARY -->

    <div class="cart-summary">

        <h2>Order Summary</h2>

        <div class="summary-row">

            <span>Subtotal</span>

            <span>${{ total }}</span>

        </div>

        <div class="summary-row">

            <span>Shipping</span>

            <span>$20</span>

        </div>

        <div class="summary-row total">

            <span>Total</span>

            <span>${{ total + 20 }}</span>

        </div>

        <button class="checkout-btn">
            <a href="/checkout" class="checkout-btn">
                <i class="bi bi-bag-check-fill"></i>
                Proceed to Checkout
            </a>
        </button>

    </div>

</section>

<!-- JAVASCRIPT -->

<script>

    function increaseQuantity(productId){

        fetch(`/increase_quantity/${productId}`)
            .then(response => {

                location.reload()

            })

    }

    function decreaseQuantity(productId){

        fetch(`/decrease_quantity/${productId}`)
            .then(response => {

                location.reload()

            })

    }

    function removeFromCart(productId){

        fetch(`/remove_from_cart/${productId}`)
            .then(response => {

                location.reload()

            })

    }

</script>

{% endblock %}