{% extends 'base.html' %}

{% block content %}

<!-- HEADER -->

<section class="category-header">

    <h1>Shop By Categories</h1>

    <p>
        Explore premium collections and trending categories.
    </p>

</section>

<!-- CATEGORY GRID -->

<section class="category-page">

    <div class="category-grid">

        <div class="big-category-card">
            Fashion
        </div>

        <div class="big-category-card">
            Electronics
        </div>

        <div class="big-category-card">
            Shoes
        </div>

        <div class="big-category-card">
            Accessories
        </div>

        <div class="big-category-card">
            Gaming
        </div>

        <div class="big-category-card">
            Beauty
        </div>

    </div>

</section>

{% endblock %}