{% extends 'base.html' %}

{% block content %}

<!-- HEADER -->

<section class="category-header">

    <h1>Shop By Categories</h1>

    <p>
        Explore premium collections and trending categories.
    </p>

</section>

<!-- CATEGORY GRID -->

<section class="category-page">

    <div class="category-grid">

        <a href="/products?category=Fashion" class="big-category-card {% if active_category=='Fashion' %}active{% endif %}">
            Fashion
        </a>

        <a href="/products?category=Electronics" class="big-category-card {% if active_category=='Electronics' %}active{% endif %}">
            Electronics
        </a>

        <a href="/products?category=Shoes" class="big-category-card {% if active_category=='Shoes' %}active{% endif %}">
            Shoes
        </a>

        <a href="/products?category=Accessories" class="big-category-card {% if active_category=='Accessories' %}active{% endif %}">
            Accessories
        </a>

        <a href="/products?category=Gaming" class="big-category-card {% if active_category=='Gaming' %}active{% endif %}">
            Gaming
        </a>

        <a href="/products?category=Beauty" class="big-category-card {% if active_category=='Beauty' %}active{% endif %}">
            Beauty
        </a>

    </div>

</section>

{% endblock %}